<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">ID #<%=params[:id]%></h3>
	</div>
	<div class="box-body">
		<div class="col-md-6 col-md-offset-3">
			<table>
				<tr>
					<td>ID</td>
					<td><%=@case.caption%></td>
				</tr>
			</table>
			<%= link_to controller: "cases", action: "edit", id: @case.id do %>Editar<% end %>
		</div>
	</div>
	<div class="box-footer">
	</div>
</div>