<!-- <div class="callout callout-info">
	<%# flash.each do |name, msg| %>
		<%#= content_tag :div, msg, class: "alert alert-info" %>
	<%# end %> -->
<!-- 	<h4>Tip!</h4>
	<p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p> -->
<!-- </div> -->

<!-- 	<p class="alert alert-success"><%#= notice %></p>
	<p class="alert alert-danger"><%#= alert %></p> -->