		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu">
					<li class="header">MENU</li>
					<li class="treeview">
						<a href="/">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li>
					<li class="treeview active">
						<a href="/case">
							<i class="fa fa-files-o"></i>
							<span>Recursos</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu menu-open" style="display: block;">
							<li class="active"><a href="/case"><i class="fa fa-circle-o"></i>Ingresados</a></li>
							<li><a href="/case?estadocolmena=notificado"><i class="fa fa-circle-o"></i>Notificados</a>
								<ul class="treeview-menu menu-open" style="display: block;">
									<li><a href="/case?estadocolmenaprocesal=aceptado"><i class="fa fa-circle-o"></i>Aceptados</a></li>
									<li><a href="/case?estadocolmenaprocesal=aceptadoconobs"><i class="fa fa-circle-o"></i>Aceptados con obs.</a></li>
									<li><a href="/case?estadocolmenaprocesal=rechazado"><i class="fa fa-circle-o"></i>Rechazado</a></li>
								</ul>
							</li>
						</ul>
						<ul class="treeview-menu menu-open" style="display: block;">
							<li><a href="/case?estadocolmena=enviadoaexterno"><i class="fa fa-circle-o"></i>Enviados a externos</a>
								<ul class="treeview-menu menu-open" style="display: block;">
									<li><a href="/case?estadocolmenaprocesal=traspasadooni"><i class="fa fa-circle-o"></i>Traspasado a ONI</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>