		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu">
					<li class="header">MENU</li>
					<li class="treeview">
						<a href="/">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-files-o"></i>
							<span>Causas</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/case/"><i class="fa fa-circle-o"></i> Ingresados</a></li>
							<li><a href="/case/"><i class="fa fa-circle-o"></i> Notificados</a></li>
							<li><a href="/case/"><i class="fa fa-circle-o"></i> Revisados</a></li>
							<li><a href="/case/"><i class="fa fa-circle-o"></i> No encontrados</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>