<header class="main-header">
	<!-- Logo -->
	<a href="/" class="logo">
		<span class="logo-mini"><b>Court</b></span>
		<span class="logo-lg">Colmena <b>Court</b></span>
	</a>
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
		<div class="navbar-custom-menu">
		<% #if user_signed_in? %>
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<strong><%#= current_user.email %></strong>
					</a>
					<ul class="dropdown-menu">
						<!-- Menu Body -->
						<li class="user-body">
							<div class="col-xs-8 text-center">
								<%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
							</div>
							<div class="col-xs-4 text-center">
								<%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		<% #end %>
		</div>
	</nav>
</header>